

body{
    background-color: black;
    margin: 0;
    height: 1625px;
    width: 100%;
    justify-content: center;
    /* background-image: url("assets/goff.jpeg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
}

.background{
    background-color: ghostwhite;
    position: absolute;
    width: 1440px;
    height: 3500px;
    border: 1px solid rgb(20, 20, 20);
}

.center{
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
}

.intro{
    width: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: space-around;
    margin-top: 100px;
    height: 50px;
}

.gallery{
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.gallerying{
    height: 640px;
}


.map{
    width: 90%;
    height: 845px;
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
    justify-content: center;
    align-items: flex-start;
}

.mapping{
    height: 900px;
}

.pricing{
    margin-top: 240px;
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    gap: 50px;
    text-align: center;
}

.pricinging{
    height: 1100px;
}

.sqring{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sqr{
    box-sizing: border-box;
    background-color: white;
    border: 1px solid white;
    height: 370px;
    width: 285px;
    border-radius: 5%;
    padding: 40px;
    transition: 0.25s ease;
    outline-style: solid;
    outline-color:#18BA51;
    outline-width: 0px;
    white-space: nowrap;
}

.sqr:hover{
    outline-style: solid;
    outline-color:#18BA51;
    outline-width: 2px;
    cursor: pointer;
}

.gallery img{
    transition: 0.25s ease;
    outline-style: solid;
    outline-color:#18BA51;
    outline-width: 0px;
    border-radius: 15px;
}

.gallery img:hover{
    outline-style: solid;
    outline-color:#18BA51;
    outline-width: 2px;
    cursor: pointer;
}

.sqr li{
    margin-top: -7.5px;
}

.end{
    background-color: #171717;
    height: 354px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    box-sizing: border-box;
}

.end h1{
    color: white;
}

.button{
    box-sizing: border-box;
    background-color: #18BA51;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    width: 130px;
    height: 44px;
    padding:10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.25s ease-in-out;
    box-shadow: 0 5px 0 0 #0e4a23;
    border: 2px solid #18BA51;
    margin-top: 25px
}

.button:hover{
    margin-top: 30px;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 #0e4a23;
    background-color: transparent;
    border: 2px solid #18BA51;
}

.real{
    width: 250px;
    opacity: 1;
    transition: 0.25s ease-in-out;
}

.real:hover{
    width: 255px;
    opacity: 0.9;
    margin-top: 5px;
}

.random{
    box-sizing: border-box;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -25px;
}

.columns{
    box-sizing: border-box;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.rows{
    box-sizing: border-box;
    height: 12%;
    width: 100%;
    flex-direction: row;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Dicon{
    height: 56px;
    width: 56px;
    border-radius: 40px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 18px;
    background-color: black;
    color: #16A94A;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.morerows{
    box-sizing: border-box;
    height: 100%;
    width: 10%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
    border-radius: 4px;
    transition: 0.2s ease;
    display: flex;
    justify-content: center;
}

.crazy{
    outline-style: solid;
    outline-color:#18BA51;
    outline-width: 0px;
    transition: 0.2s ease;
    position: absolute;
    width: 5%;
    height: 56px;
    margin-left: 100px;
    opacity: 0;
    font-family: sans-serif;
    -webkit-text-stroke: 1px #18BA51;
    color: transparent;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 6.25px 150px 6.25px 0;
    border-radius: 5px;
}

.morerows:hover .crazy{
    position: absolute;
    outline-style: solid;
    outline-color:#18BA51;
    outline-width: 2px;
    width: 21.5%;
    margin-left: -10px;
    opacity: 1;
}

.morerows:hover{
    cursor: pointer;
}

.Dicon:hover{
    cursor: pointer;
}

.line{
    border: 1px dashed black;
    height: 100%;
    width: 0.01px;
    position: absolute;
    z-index: 0;
}

.height{
    box-sizing: border-box;
    position: absolute;
    height: 430px;
    width: 56px;
    display: flex;
    justify-content: center;
}

.advert{
    box-sizing: border-box;
    border-radius: 4px;
    height: 44px;
    width: 167px;
    background-color: #303030;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    transition: 0.25s ease;
    outline-style: solid;
    outline-color:#18BA51;
    outline-width: 0px;
    gap: 10px;
}

.advert:hover{
    outline-style: solid;
    outline-color:#18BA51;
    outline-width: 2px;
}

.t{
    margin: 0 0 0 -25px;
    font-size: 28px;
    justify-self: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    white-space: wrap;
}

.ins{
    margin: 0; 
    font-size: 18px; 
    font-family: 'Montserrat'; 
    justify-self: center; text-decoration: none; 
    font-weight: 600; 
    box-sizing: border-box;
    height: 21.12px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    width: 21.12px;
    border-radius: 6.5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: 0.2s ease-in-out;
}

.insgr{
    color: white;
    transition: 0.2s ease-in-out;
    background: transparent;
}

.fac{
    margin: 0; 
    font-size: 22px; 
    font-family: 'Montserrat'; 
    justify-self: center; text-decoration: none; 
    color: white; 
    font-weight: 600; 
    box-sizing: border-box;
    height: 21.12px;
    width: 21.12px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    background: transparent;
}

.facgr{
    color: white;
    transition: 0.2s ease-in-out;
}

.e:hover .fac{
    color: #1877F2;
    background-color: white;
}

.e:hover{
    background-color: white;
}

.e:hover .facgr{
    color: #1877F2;
}

.a:hover .ins{
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.a:hover{
    background-color: black;
}

.a:hover .insgr{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}